<html>
    <head>
        <title>Contact Added!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style media="screen">
            ul {
                list-style-type: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>You created a contact!</h1>
            <ul>
    //Gets values from new_contact array sent back from app.php
                <li>{{ new_contact.getName }}</li>
                <li>{{ new_contact.getPhone }}</li>
                <li>{{ new_contact.getAddress }}</li>
            </ul>
            <p><a href="/">View your updated address book</a>
        </div>
    </body>
</html>
