<html>
    <head>
        <title>Contacts deleted</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Address book cleared!</h1>
            <p><a href="/">View your updated address book</a>
        </div>
    </body>
</html>
